body {
    font-family: Arial, sans-serif;
    background-color: #4f4f51;
    padding: 40px;
    color: #4f4f51; 
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    background: #d6d6d6;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #000; 
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #f58f7c;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e87c68;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  .logo {
    display: block;
    max-width: 100%;     
    height: auto;        
    margin: 0 auto 20px auto;
  }
  